<div class="dummy-body">
  <div class="dummy-content">
    <h1>Hello Page Titles!</h1>
    <hr>
    <ul>
      <li class='list-item'><a href="/#/custom-title">Normal Link to Custom Title</a></li>
      <li class='list-item'><a href="/#/custom-title/nested">Normal Link to Nested Custom Title</a></li>
      <li class='list-item'>{{link-to 'Custom Title' 'custom-title'}}</li>
      <li class='list-item'>{{link-to 'Nested Custom Title' 'custom-title.nested'}}</li>
      <li class='list-item'>{{link-to 'Default Title' 'default-title'}}</li>
      <li class='list-item'>{{link-to 'Nested Default Title' 'default-title.nested'}}</li>
      <li class='list-item'>{{link-to 'Override Default Title' 'override-default'}}</li>
    </ul>
    {{outlet}}
  </div>
</div>
